<!DOCTYPE html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Vignesh Arumugam">
      <title>A Purposeful Journey</title>
      
      <style>
        .mail-heading
        {
          margin-top: 25px;
          padding: 25px;
          font-weight: 600;
          text-align: center;
        }

        .page{
          width: 100%;        
        }

        .footer
        {
          background-color: #6c757d;
          background: #6c757d;
          padding: 10px;
          color: white;
          text-align: center;
          margin-top: 10px;;
        }
      </style>
</head>
<body>

    <div class="page">
        <h3 class="mail-heading">Thank you for your interest in free weekend online classes.</h3>

        <h4>Hello {userName} ,</h4>
        <h4>The classes have already commenced for Python and Basic English from May, 2020. Next batch will be starting from September, 2020. We will reach you through your e-mail address or mobile number when the next batch begins after selection.</h4>
        <h4>Please feel free to write us about any feedback or suggestion regarding the classes to <a href="mailto:apj2learn@gmail.com">apj2learn@gmail.com</a></h4>.

        <br/>
        <h4>Thank You,
        <br/>
        A Purposeful Journey team  - <a style="color : #4473c5;" href="http://joinapj.com/" target="_blank">www.joinapj.com</a></h4>
          
    
        <div class="footer">
            <p>&copy; A Purposeful Journey</p>
        </div>
    </div>
</body>


